.signin{
  flex: 1;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo{
    width: 400px;
    height: 400px;
  }

  &__form{
    width: 400px;
    height: 200px;
    margin-left: 3rem;
  
    &__buttons{
      display: flex;
      justify-content: center;
    }
  }
}

.ui.form .field>label {
  color: #f1f1f1;
  text-shadow: 0 0 3px #000;
}
