.create-offer{
    height: 100%;
    width: 500px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;

    &__form{

    &__button{
    display: flex;
    justify-content: space-evenly;  
        }
    }
}
