.header{
  background-color: #08D9D6;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__logo{
    width: 70px;
    height: 70px;
  }

  &__navigation{
    display: flex;
    justify-content: flex-end;

    &__link{
      color: #EAEAEA;
      font-weight: bold;
      padding: 1rem;

      &--active{
        text-decoration: underline;
      }
    }
  }
}
